* {
	font-family: Raleway;
	box-sizing: border-box;
}
.reservia {
	margin: auto;
	width: 80%;
	/* border: solid red; */
	padding: 60px 0px 0px 0px;
	/* margin: 30px 0px 0px 0px; */
}

.navigation {
	display: flex;
	justify-content: space-between;
	width: 30%;
	height: 100%;
	font-size: 16px;
	float: right;
	margin: 0px 70px 0px 0px;
	/* border: solid green; */
	padding: 0px 0px 0px 0px;
}

.navigation-link {
	/* border: solid red; */
	line-height: 60px;
	padding: 10px;
	font-weight: 800;
}
.navigation-link:hover {
	border-top: 2px solid #0065fc;
}

a {
	color: #0065fc;
	text-decoration: none;
}

/* #signup {
	font-weight: bold;
} */

.title {
	font-weight: bold;
	margin-left: 100px;
}

.information {
	font-weight: lighter;
	width: 80%;
	height: auto;
	margin: auto;
	margin-bottom: 60px;
	/* border: solid red; */
	padding: 0px;
}
.page-title-and-subtitle {
	/* margin: 30px 30px 30px 30px; */
	/* border: solid red; */
	width: 80%;
	margin: auto;
}

.search-bar {
	display: flex;
	flex-direction: row;
	width: 80%;
	margin: auto;
	margin-bottom: 15px;
	/* margin-left: 165px; */
	height: auto;
	/* border: solid red */
	padding-bottom: 10px;
}

#mapmarker {
	font-size: 16px;
	/* position: relative; */
	/* display: inline-block; */
	background-color: #f2f2f2;
	height: 50px;
	width: 50px;
	border-radius: 8px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	text-align: center;
	/* justify-content: center; */
	padding: 16px 16px 19px 16px;
	/* margin-left: 100px; */
	/* border: solid red; */
}

.search-box {
	font: 900 black;
	font-size: 16px;
	/* position: relative; */
	/* display: inline-block; */
	border: solid 1px #f2f2f2;
	height: 50px;
	width: 225px;
	border-right-color: white;
	border-left-color: white;
	/* margin: 0px; */
	/* border: solid red; */
}

.search-button {
	display: flex;
	font-weight: 800;
	/* position: relative; */
	/* display: inline-block; */
	background-color: #0065fc;
	border-left-color: white;
	border-radius: 14px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	color: #eeeeee;
	font-size: 16px;
	padding: 16px 16px 16px 16px;
	height: 50px;
	cursor: pointer;
	align-content: center;
	/* margin: auto; */
	/* border: solid red; */
}

.filter-row {
	width: 80%;
	height: auto;
	margin: auto;
	margin-bottom: 25px;
	/* border: solid purple; */
}

.filter-border {
	color: black;
	font-weight: 800;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0px 25px 0px 25px;
	height: auto;
	width: auto;
	margin: 0px 10px 0px 10px;
	font-size: 20px;
	line-height: 30px;
	border-radius: 50px;
	border: solid 3px #f2f2f2;
	/* border: solid green; */
}

.filter-border:hover {
	background-color: #deebff;
	border: solid 1px #0065fc;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.filter-icon {
	display: flex;
	color: #0065fc;
	position: relative;
	justify-content: center;
	align-items: center;
	float: left;
	margin: 0 10px 0 -25px;
	height: 50px;
	width: 50px;
	border-radius: 60%;
	background-color: #deebff;
	/* border: solid red; */
}

.info {
	color: #0065fc;
	border: 2px solid #f2f2f2;
	background-color: white;
	border-radius: 50px;
	padding: 3px 10px;
	/* margin-left: px; */
}

.accommodations-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 20px;
	width: 245px;
	height: auto;
	border: solid white 5px;
	background-color: white;
	/* border: solid blue; */
	margin: 10px 0px 10px 0px;
}
.accommodations-card img {
	border-radius: 20px 20px 0px 0px;
	height: 130px;
	/* border: solid yellow; */
	position: relative;
	object-fit: cover;
}

.accommodations-card-text {
	line-height: 50%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 10px;
	border-radius: 0px 0px 20px 20px;

	/* border: solid green; */
}

.accommodations-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}
.most-popular-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 20px;
	width: 350px;
	height: 145px;
	border: solid white 5px;
	background-color: white;
	margin: 10px 0px 10px 0px;
	/* border: solid blue; */
}

.most-popular-card img {
	border-radius: 20px 0px 0px 20px;
	height: 138px;
	/* border: solid yellow; */
	position: relative;
	object-fit: cover;
}

.most-popular-card-text {
	width: 60%;
	height: 100%;
	padding-left: 10px;
	float: right;
	/* border: solid green; */
}
.most-popular-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}
.activitycard {
	box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 20px;
	min-width: 250px;
	max-width: 330px;
	border: solid white 0px;
	background-color: white;
	/* border: solid red; */
}

.activitycard:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.container {
	padding: 2px 16px;
	width: auto;
}

.bluestar {
	color: #0065fc;
}

.greystar {
	color: #f2f2f2;
}

.cardlink {
	color: black;
}

.accommodations-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #f2f2f2;
	width: 52%;
	float: left;
	margin: 0px 0px 60px 189px;
	border-radius: 20px;
	/* padding: 60px; */
	/* padding: 60px 30px 0px 30px; */
	height: 650px;
	/* border: solid blue; */
}

.most-popular-container {
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
	justify-content: center;
	align-items: center;
	width: 26%;
	margin: 0px 189px 0px 0px;
	float: right;
	border-radius: 20px;
	/* padding: 0px 20px 20px 20px; */
	height: 650px;
	/* border: blue solid; */
}

.topheader {
	margin-left: 40px;
}
.filterHeader {
	margin-left: 40px;
}

.activities-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 550px;
	width: 80%;
	margin: auto;
	margin-bottom: 60px;
	justify-content: space-between;
	/* border: solid red; */
	padding: 5px;
	border-radius: 20px;
}

.activities-container a {
	color: black;
}

.activities-container h3 {
	margin-left: 20px;
}
.mainlink {
	color: black;
}

.activitycard1 {
	height: auto;
}

.activitycard1 img {
	width: 100%;
	height: 90%;
	border-radius: 20px 20px 0px 0px;
	position: relative;
	object-fit: cover;
}
.activitycard2 {
	height: 45%;
}

.activitycard2 img {
	width: 100%;
	height: 80%;
	border-radius: 20px 20px 0px 0px;
	position: relative;
	object-fit: cover;
}

.activitycard3 {
	margin-top: 60px;
	height: 100%;
}

.activitycard3 img {
	width: 100%;
	height: 77%;
	border-radius: 20px 20px 0px 0px;
	position: relative;
	object-fit: cover;
}

.activitycard4 {
	height: auto;
}

.activitycard4 img {
	width: 100%;
	height: 90%;
	border-radius: 20px 20px 0px 0px;
	position: relative;
	object-fit: cover;
}

.activitycard5 {
	height: 45%;
}

.activitycard5 img {
	width: 100%;
	height: 80%;
	border-radius: 20px 20px 0px 0px;
	position: relative;
	object-fit: cover;
}

.activitycard6 {
	height: 100%;
	margin-top: 60px;
}

.activitycard6 img {
	width: 100%;
	height: 80%;
	border-radius: 20px 20px 0px 0px;
	position: relative;
	object-fit: cover;
}

.footer {
	background-color: #f2f2f2;
	height: 250px;
	padding: 25px 0px 0px 40px;
	width: 80%;
	margin: auto;
	/* border: solid black; */
}

.footer a {
	color: black;
}

.footer a:hover {
	font-weight: 800;
	text-decoration-line: underline;
}

.column {
	float: left;
	width: 33.33%;
	padding: 10px;
	height: 300px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}
@media all and (max-width: 768px) {
	body {
		min-width: 350px;
		display: flex;
		flex-direction: column;
		margin: auto;
	}
	.most-popular-container {
		min-width: 350px;
		margin: 20px auto;
	}
	.most-popular-card {
		display: block;
		min-width: 350px;
		margin: 20px auto;
	}
	.activities-container {
		display: block;
		min-width: 350px;
		margin: 20px auto;
	}
	.footer {
		display: block;
		min-width: 350px;
		margin: 20px auto;
	}
}
