* {
	box-sizing: border-box;
	font-family: Raleway;
	/* outline: 1px solid red;
	outline-offset: -1px; */
}

/*Global Attributes*/
body {
	margin: 0 auto;
	padding: 0;
}
.middle-of-page-section,
.bottom-of-page-section,
.footer-section {
	margin-top: 2rem;
}
h2 {
	font-weight: 900;
}

/*Logo and Navigation Bar */

.logo {
	display: flex;
	align-items: center;
	float: left;
	width: 100%;
}
.navigation {
	display: flex;
	float: right;
	font-size: 1.1rem;
	gap: 3rem;
	justify-content: flex-end;
	width: 100%;
}
.navigation-link {
	font-weight: 800;
	line-height: 5rem;
	padding: 2rem;
}
.navigation-link:hover {
	border-top: 0.25rem solid #0065fc;
}
a {
	color: #0065fc;
	text-decoration: none;
}
.top-of-page {
	display: flex;
	margin: 0 6rem;
	justify-content: space-around;
}

/*Page Title and Subtitle*/

.top-title-and-subtitle {
	margin: 2rem 6rem;
}

/* Search Bar*/

.mapmarker {
	background-color: #f2f2f2;
	border-radius: 0.7rem 0 0 0.7rem;
	font-size: 1rem;
	padding: 1rem;
	text-align: center;
	width: 3.5rem;
}
.search-row {
	display: flex;
	flex-direction: row;
	margin: 2rem 6rem;
	width: auto;
}
.search-box {
	border: solid 0.0625rem #f2f2f2;
	border-right-color: white;
	border-left-color: white;
	font-weight: 900;
	font-size: 1rem;
	width: 15rem;
}
.search-button {
	align-content: center;
	background-color: #0065fc;
	border-left-color: white;
	border-radius: 0rem 1rem 1rem 0;
	color: #eeeeee;
	cursor: pointer;
	display: flex;
	font-weight: 800;
	font-size: 1rem;
	padding: 1rem;
	width: 6rem;
}

/* Filters*/

.filter-border {
	align-items: center;
	border-radius: 3rem;
	border: solid 0.1875rem#f2f2f2;
	color: black;
	display: inline-flex;
	font-size: 1.25rem;
	padding: 0 1.5625rem;
}
.filter-border:hover {
	background-color: #deebff;
	border: solid 0.0625rem #0065fc;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
}
.filter-icon {
	align-items: center;
	background-color: #deebff;
	border-radius: 60%;
	color: #0065fc;
	display: flex;
	float: left;
	height: 3.125rem;
	justify-content: center;
	margin: 0 0.625rem 0 -1.5625rem;
	min-width: 3.125rem;
	position: relative;
}
.filter-row {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	height: 3.3rem;
	margin: 2rem 6rem;
	width: auto;
}
.filter-text {
	font-weight: 900;
}

/* Information */

.information {
	font-weight: lighter;
	margin: 0 6rem;
	padding: 0.1rem;
}
.info-icon {
	background-color: white;
	border: 0.125rem solid #f2f2f2;
	border-radius: 3.125rem;
	color: #0065fc;
	padding: 0.1875rem 0.625rem;
}

/* Accommodations in Marseille */

.accommodations-card {
	background-color: white;
	border: solid white 0.3125rem;
	border-radius: 1.25rem;
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 18rem;
}
.accommodations-card:hover {
	box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 1);
}
.accommodations-card img {
	border-radius: 1.25rem 1.25rem 0 0;
	height: 8.125rem;
	object-fit: cover;
	position: relative;
}
.accommodations-card-text {
	border-radius: 0 0 1.25rem 1.25rem;
	line-height: 0.2rem;
	padding: 0.5rem;
}
.accommodations-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-evenly;
}
.accommodations-header {
	display: flex;
	justify-content: flex-start;
}
.accommodations-header-text {
	margin-left: 3rem;
}
.accommodations-background {
	background-color: #f2f2f2;
	border-radius: 1.5rem;
	height: 39rem;
	padding: 1rem;
	width: 65rem;
}
.hotels {
	display: flex;
	gap: 4rem;
	justify-content: center;
}
.showmore,
.showmore a {
	margin-left: 2rem;
	color: black;
	font-size: 1.2rem;
	font-weight: 900;
}

/* Most Popular*/

.chartline {
	align-self: center;
	display: flex;
	margin-left: auto;
	margin-right: 3.125rem;
}

.most-popular-card {
	background-color: white;
	border: solid white 0.3125rem;
	border-radius: 1.5rem;
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
	height: 9.5rem;
	transition: 0.3s;
	width: 28rem;
}
.most-popular-card:hover {
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 1);
}
.most-popular-card img {
	border-radius: 1.25rem 0 0 1.25rem;
	height: 9rem;
	object-fit: cover;
	position: relative;
}
.most-popular-card-text {
	float: right;
	height: 9rem;
	object-fit: cover;
	padding-left: 0.625rem;
	position: relative;
	width: 16rem;
}

.most-popular-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	height: 32rem;
	justify-items: center;
}
.most-popular-header {
	display: flex;
	justify-content: flex-start;
}
.most-popular-header-text {
	margin-left: 3rem;
}
.most-popular-background {
	background-color: #f2f2f2;
	border-radius: 1.5rem;
	height: 39rem;
	padding: 1rem;
	width: 38rem;
}

/* Activities in Marseille*/
.column-2 {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	height: 39rem;
}
.column-4 {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.activities-container {
	display: flex;
	height: auto;
	gap: 3rem;
	justify-content: center;
}
.activities-container a {
	color: black;
}
.activities-container h3 {
	line-height: 2rem;
	margin: 0.5rem 1rem;
}
.activities-header {
	display: flex;
	justify-content: flex-start;
}
.activities-header-text {
	margin-left: 3rem;
}
.activities-background {
	border-radius: 1.5rem;
	height: auto;
	margin: 0 6rem;
	width: 90%;
}
/* Activities in Marseille Cards*/
.activitycard {
	background-color: white;
	border-radius: 1.25rem;
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
	height: 35rem;
	transition: 0.3s;
	width: 23rem;
}
.activitycard img {
	border-radius: 1.5rem 1.5rem 0 0;
	height: 90%;
	width: 100%;
}
.activitycard:hover {
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 1);
}

.old-port-card img {
	height: 90%;
	object-fit: cover;
	position: relative;
	width: 100%;
}
.pomegues-card {
	height: 18rem;
}

.pomegues-card img {
	height: 80%;
	object-fit: cover;
	position: relative;
	width: 100%;
}

.frioul-card {
	height: 14rem;
}

.frioul-card img {
	height: 80%;
	object-fit: cover;
	position: relative;
	width: 100%;
}

.calanques-card img {
	height: 90%;
	object-fit: cover;
	position: relative;
	width: 100%;
}

.notre-dame-card {
	height: 16rem;
}

.notre-dame-card img {
	height: 80%;
	object-fit: cover;
	position: relative;
	width: 100%;
}

.longchamp-card {
	height: 16rem;
}

.longchamp-card img {
	height: 80%;
	object-fit: cover;
	position: relative;
	width: 100%;
}

/* Star and Link Colors*/
.bluestar {
	color: #0065fc;
}

.greystar {
	color: #f2f2f2;
}

.card-link {
	color: black;
}

/* Footer */

.footer {
	background-color: #f2f2f2;
}
.row {
	display: flex;
	justify-content: space-around;
}

.footer a {
	color: black;
}
.footer a:hover {
	font-weight: 800;
	text-decoration-line: underline;
}
/* Media Queries*/
@media all and (max-width: 1885px) and (min-width: 1440px) {
	.accommodations-background {
		height: auto;
		padding: 0 0.5em 3em 0.5em;
		width: 95%;
	}

	.accommodations-card {
		width: 27em;
	}
	/* Activities Cards 1875px- 1440px*/

	.activities-background {
		height: auto;
		margin: 0 auto;
		width: 95%;
	}
	.activities-container {
		gap: 2em;
		height: auto;
		justify-content: center;
		width: 100%;
	}
	.activitycard,
	.old-port-card,
	.pomegues-card,
	.frioul-card,
	.calanques-card,
	.notre-dame-card,
	.longchamp-card {
		width: 21em;
	}

	.activitycard img {
		height: 90%;
	}
	.frioul-card img,
	.pomegues-card img,
	.longchamp-card img,
	.notre-dame-card img {
		height: 80%;
	}

	body {
		margin: 0 auto;
		padding: 0;
		position: relative;
	}
	.column-2,
	.column-4 {
		gap: 3em;
		height: auto;
	}
	.hotels {
		align-items: center;
		flex-direction: column-reverse;
	}
	.most-popular-background {
		height: auto;
		padding: 0 1em 3em 1em;
		width: 95%;
	}
	.most-popular-card {
		width: 25em;
	}
	.most-popular-card-text {
		object-fit: cover;
		position: relative;
		width: 14em;
	}
	.most-popular-container {
		flex-direction: row;
		flex-wrap: wrap;
		height: auto;
		justify-content: space-evenly;
	}
	.most-popular-header {
		display: inline-flex;
		height: 4em;
		width: 100%;
	}
	.navigation,
	.logo {
		flex-wrap: nowrap;
		gap: 0.5em;
	}
}
/*small screen laptops*/

@media all and (max-width: 1439px) and (min-width: 880px) {
	.accommodations-background {
		height: auto;
		margin: 0 auto;
		padding-bottom: 4em;
		width: 95%;
	}
	.accommodations-card {
		width: 40em;
	}
	.activitycard,
	.old-port-card,
	.pomegues-card,
	.frioul-card,
	.calanques-card,
	.notre-dame-card,
	.longchamp-card {
		height: 20em;
		width: 50em;
	}
	.activitycard img {
		height: 85%;
	}
	.activities-background {
		height: auto;
		margin: 0 auto;
		width: 95%;
	}
	.activities-container {
		align-items: center;
		flex-direction: column;
		gap: 2em;
		height: auto;
	}
	.activities-header {
		height: auto;
	}
	.column-2,
	.column-4 {
		gap: 2em;
		margin-bottom: 3em;
	}
	.hotels {
		flex-direction: column-reverse;
	}
	.most-popular-background {
		height: auto;
		margin: 0 auto;
		width: 95%;
	}
	.most-popular-card {
		width: 40em;
	}
	.most-popular-card-text {
		width: 23em;
	}
	.navigation {
		align-items: flex-end;
		gap: 0.5em;
	}
	.top-of-page,
	.top-title-and-subtitle,
	.search-row,
	.filter-row,
	.information {
		margin: 2em auto;
		width: 95%;
	}
	.logo {
		width: 50%;
	}
}
/*tablets*/

@media only screen and (max-width: 880px) and (min-width: 481px) {
	.top-of-page,
	.top-title-and-subtitle,
	.search-row,
	.information {
		margin: 2em auto;
		width: 95%;
	}
	.filter-row {
		flex-direction: column;
		height: auto;
		margin: 0 auto;
		width: 100%;
	}
	.filter-border {
		width: 15em;
	}
	.logo {
		width: 50%;
	}
	.navigation {
		align-items: flex-end;
		gap: 0.1em;
	}

	.top-of-page {
		flex-direction: column;
		margin: 0 auto;
	}
	.hotels {
		flex-direction: column-reverse;
	}
	.activities-container {
		flex-direction: column;
		gap: 2em;
	}
	.activities-background,
	.accommodations-background,
	.most-popular-background {
		border-radius: 0;
		height: auto;
		margin: 0 auto;
		width: 100%;
	}
	.activities-container,
	.accommodations-container,
	.most-popular-container {
		align-items: center;
		height: auto;
	}
	.activitycard,
	.accommodations-card,
	.most-popular-card {
		width: 29em;
	}
	.activitycard,
	.old-port-card,
	.pomegues-card,
	.frioul-card,
	.notre-dame-card,
	.longchamp-card {
		height: 15em;
	}
	.activitycard img {
		height: 85%;
	}
	.activitycard h3 {
		line-height: 1em;
	}
	.column-2,
	.column-4 {
		gap: 2em;
		height: auto;
	}

	.most-popular-card-text {
		width: 17em;
	}
	.row {
		flex-direction: column;
	}
}
/*cell phones*/
@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
	.accommodations-background,
	.activities-background,
	.most-popular-background,
	.filter-row,
	.information,
	.search-row,
	.top-title-and-subtitle,
	.top-of-page {
		height: auto;
		margin: 0 auto;
		width: 100%;
	}
	.accommodations-background {
		background-color: white;
	}
	.activitycard {
		height: 18em;
		width: 20em;
	}
	.activitycard img {
		height: 85%;
	}
	.activities-container {
		align-items: center;
		flex-direction: column;
		gap: 2em;
		height: auto;
		width: 100%;
	}
	.column-2,
	.column-4 {
		gap: 2em;
	}
	.logo {
		width: 100%;
	}
	.row {
		flex-direction: column;
	}
	.most-popular-card {
		width: 20em;
	}
	.most-popular-card-text {
		line-height: 1em;
		width: 11em;
	}
	.filter-row {
		align-items: center;
		flex-direction: column;
	}
	.filter-border {
		width: 16em;
	}
	.hotels {
		flex-direction: column-reverse;
	}
	.top-of-page {
		flex-direction: column;
	}
	.navigation {
		flex-direction: column;
		float: none;
		gap: 0.02em;
		height: auto;
		width: 100%;
	}
	.navigation-link:hover {
		border-top: none;
	}
}
